/* 网页的版本的公用类名 */
.col{width:1080px;margin:0 auto;}
/* header */
.header{position:absolute;top:0;left:0;width:100%;height:40px;line-height:40px;padding:20px 0}
.logo{float:left;}
.nav{float:right;}
.nav li{float: left;position:relative}
.nav li a{display:block;color:#fff;padding:0 20px;}
.layer{opacity: 0;position:absolute;top:40px;left:0;width:240px;height: 204px;box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);border-radius: 4px;background: #fff;transition: opacity .2s ease}
.layer .arrow{position:absolute;top:-10px;left:25px;display:block;width:0;height:0;border-width:5px;border-style:solid;border-color:transparent transparent #fff transparent}
.nav li:hover .layer{opacity:1;}
/* 文字层 */
.header-txt{position: absolute;left:0;top:50%;width:100%;}
.header-txt .font-logo{font-size:420%;line-height:1;margin-bottom:20px;animation:txt 4s linear infinite;}
.header-txt .btn{display:inline-block;padding:14px 26px;font-size:22px;color:#fff;font-weight:bold;background: rgba(0,0,0,6);border-radius: 6px;}
@keyframes txt{
    0%{color:#000}
    10%{color:#000}
    20%{color:#000}
    30%{color:#000}
    40%{color:#000}
    50%{color:#fff}
    60%{color:#fff}
    70%{color:#fff}
    80%{color:#fff}
    90%{color:#fff}
    100%{color:#fff}
}
/* 新闻层 */
.news{position: absolute;left:0;bottom:0;width:100%;background: rgba(0,0,0,.5);padding:10px;color:#fff;}
.news span{display:inline-block;background: linear-gradient(to bottom, #ec614f 0%, #ff2e2e 100%);box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2);border-radius: 4px;padding:0 8px;}
/* banner */
html,
body,
.swiper-container,
.swiper-wrapper,
.swiper-slide{width:100%;height:100%;}
.swiper-slide a{display: block;width:100%;height:100%;background: url(https://mobike.com/cn/assets/themes/moby/img/landing/hero-bg-3.jpg) no-repeat center;background-size:cover}
/* 广告 */
.heros-pormos .hero{
    float: left;width: 25%;height: 260px; background-repeat: no-repeat;background-position: center;background-size: cover;border: 1px solid #fff;box-sizing: border-box;color: #fff;font-size: 24px;font-weight: 400;text-align: center;padding: 37px;
}
.heros-pormos{margin-left: -3px;margin-top: 2px;}


.meta-links{width: 100%;border-bottom: 1px solid gray }
.meta-link{
    padding: 45px 0;float: left;width: 33.33%;
}
.meta-link .icon{display: inline-block;width: 50px;height: 50px;margin-right: 10px;background-repeat: no-repeat;background-position:center;background-size: contain;vertical-align: middle}
.meta-link .txt{display: inline-block;text-align: left;vertical-align: middle}
.meta-link:nth-child(2){text-align: center}
.meta-link:nth-child(3){text-align: right}



@media screen and (max-width:1080px){
    .heros-pormos .hero{width: 50%;}
    .col{width: auto;padding: 0 20px;}
    .nav{display: none}
}
@media screen and (max-width:640px){
    .heros-pormos .hero{width: 100%;}
    .meta-link{width: 50%;}
    .meta-link:nth-child(2),
.meta-link:nth-child(3){text-align: left}
}